/.git
/.fleet
/.idea
/.phpunit.cache
/.vscode
/.zed
/bin
/database/*.sqlite*
/node_modules
/public/build
/public/hot
/public/storage
/storage
/tests/*
/vendor
.dockerignore
.editorconfig
.env*
!.env.placeholder
.gitattributes
.gitignore
.phpactor.json
.phpunit.result.cache
compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
phpstan.neon
phpunit.xml
yarn-error.log
